# API Backend Settings
PORT=4000
NODE_ENV=development

# Database (Neon serverless Postgres)
DATABASE_URL="postgresql://user:password@ep-cold-shadow-123456.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Cache & Message Broker (Redis/Upstash)
REDIS_URL="redis://localhost:6379"

# IPFS Pinning (Pinata)
PINATA_API_KEY=""
PINATA_API_SECRET=""

# Frontend Origin for CORS
FRONTEND_URL="http://localhost:5173"
